body{

margin:0;

font-family:Arial;

background:linear-gradient(180deg,#000,#020024);

color:white;

}


/* HEADER */

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

background:rgba(0,0,0,0.3);

backdrop-filter:blur(20px);

border-bottom:1px solid cyan;

}


/* LOGO */

.logo{

display:flex;

align-items:center;

gap:10px;

}


.logo img{

width:50px;

animation:logo 3s infinite alternate;

}


/* LOGO ANIMATION */

@keyframes logo{

from{

filter:drop-shadow(0 0 10px cyan);

}

to{

filter:drop-shadow(0 0 40px cyan);

transform:rotate(5deg);

}

}


/* MENU */

nav a{

color:white;

text-decoration:none;

margin:10px;

padding:10px 20px;

border-radius:10px;

transition:0.3s;

}


nav a:hover{

background:cyan;

color:black;

box-shadow:0 0 20px cyan;

}


/* PERFIL */

.perfil{

display:flex;

flex-direction:column;

align-items:center;

margin-top:50px;

animation:entrada 2s;

}


/* FOTO PERFIL */

.perfil img{

width:180px;

border-radius:50%;

box-shadow:

0 0 10px cyan,

0 0 40px cyan;

}


/* DESCRIPCION */

.descripcion{

width:300px;

text-align:center;

}


/* GLASS EFFECT */

.glass{

background:rgba(255,255,255,0.05);

padding:30px;

border-radius:20px;

backdrop-filter:blur(20px);

box-shadow:

0 0 20px cyan;

}


/* ENTRADA */

@keyframes entrada{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:translateY(0);

}

}


/* RESPONSIVE */

@media(max-width:600px){

nav{

display:flex;

flex-direction:column;

}

}

.menu-ejercicios{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:20px;

margin-top:20px;

}


.boton{

text-decoration:none;

color:white;

background:rgba(255,255,255,0.05);

padding:20px;

border-radius:15px;

width:200px;

text-align:center;

transition:0.3s;

backdrop-filter:blur(10px);

box-shadow:0 0 10px cyan;

}


.boton:hover{

transform:scale(1.1);

background:cyan;

color:black;

box-shadow:

0 0 20px cyan,

0 0 40px cyan;

}

img{

transition:0.5s;

animation:flotar 4s infinite ease-in-out;

}


/* EFECTO HOVER */

img:hover{

transform:scale(1.1) rotate(2deg);

box-shadow:

0 0 20px cyan,

0 0 40px cyan,

0 0 80px cyan;

}


/* ANIMACION FLOTAR */

@keyframes flotar{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-10px);

}

100%{

transform:translateY(0px);

}

}


/* FLEX */

.flex{

display:flex;

justify-content:center;

gap:20px;

margin-top:50px;

}


/* GRID */

.grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}



.grid2{

display:grid;

grid-template-columns:repeat(2,150px);

gap:20px;

justify-content:center;

margin-top:50px;

}



/* CAJAS */

.caja{

background:#00f7ff;

padding:30px;

border-radius:10px;

color:black;

}



.caja-modelo{

background:#111;

padding:40px;

border:5px solid cyan;

margin:50px;

color:white;

}



/* CARD MENU */

.card{

background:#111;

padding:30px;

text-decoration:none;

color:white;

border-radius:10px;

transition:0.3s;

}



.card:hover{

transform:scale(1.1);

box-shadow:0 0 20px cyan;

}



/* FORM */

.form-pro{

display:flex;

flex-direction:column;

width:300px;

margin:auto;

gap:10px;

}



.form-pro input{

padding:10px;

}



.form-pro button{

padding:10px;

background:cyan;

border:none;

}


button{

background:cyan;

border:none;

padding:10px;

margin-top:10px;

cursor:pointer;

transition:0.3s;

}



button:hover{

transform:scale(1.1);

box-shadow:0 0 20px cyan;

}



input, select{

padding:10px;

margin:10px;

}

.explicacion{

margin-top:15px;

padding:10px;

background:rgba(0,255,255,0.08);

border-left:3px solid cyan;

border-radius:8px;

font-size:14px;

}